nav{
  background-color: lightblue;
}

nav li {
  display: inline-block;
  color: blue;
  text-decoration: none;
}
a:hover{
  background-color: yellow;
}
.one,
.two,
.three {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
